<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style type="text/css">
        .oneline {
                white-space: nowrap; /*强制文本在一行内输出*/
                overflow: hidden; /*/隐藏溢出部分*/
                text-overflow: ellipsis; /*对溢出部分加上...*/
            }
    </style>
</head>
<body>
    <p class="oneline">sdadwqqqqqqq qqqqqqqqqqqqqq qqqqqqqqqqqqq qqqqqqqqqqqq qqqqqq qqqqq qqqqqqq qqqqqqqqqqqq qqqqqq qq qqqqqqqqqqqqqqqqq qqqqqqqqq qqqqqqqqqqqqqqqqqqqqqqq qqqq qqqq qqqqqqqq qqqqqqqqqq qqqqqqqqqqqqqqqqqqqqqq qqqqqqqqqqqqqqqqqqqqqqsdadfda</p>
    <p class="oneline">我好长啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊要溢出了啊</p>
</body>
</html>