<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style type="text/css">
        .oneline {
                white-space: nowrap; /*强制文本在一行内输出*/
                overflow: hidden; /*/隐藏溢出部分*/
                text-overflow: ellipsis; /*对溢出部分加上...*/
            }
    </style>
</head>
<body>
    <p class="oneline">sdadwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqsdadfda</p>
    <p class="oneline">阿道夫家居of家电及of级服务费joi家去fi哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大哦飞啊飞分阿飞放大d敬佛 夫妻间问哦if近期为</p>
</body>
</html>